In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option("display.max_columns", None)

Extract and combine all orig datasets. Store the data into h5 format for faster access.

In [2]:
li = []
df_a_orig = pd.read_csv('data/Zach_Statham_platform_a_orig_data.csv', index_col=None, header=0)
df_a_orig['Orig_year'] = pd.DatetimeIndex(pd.to_datetime(df_a_orig['Orig_Date'],format='%b%Y')).year
df_a_orig['Orig_month'] = pd.DatetimeIndex(pd.to_datetime(df_a_orig['Orig_Date'],format='%b%Y')).month
df_a_orig.drop('Orig_Date', inplace=True, axis=1)
li.append(df_a_orig)

df_b_orig = pd.read_csv('data/Zach_Statham_platform_b_orig_data.csv', index_col=None, header=0)
df_b_orig['Orig_year'] = pd.DatetimeIndex(pd.to_datetime(df_b_orig['orig_date'].str.replace('-',''),format='%Y%m')).year
df_b_orig['Orig_month'] = pd.DatetimeIndex(pd.to_datetime(df_b_orig['orig_date'].str.replace('-',''),format='%Y%m')).month
df_b_orig.drop('orig_date', inplace=True, axis=1)
li.append(df_b_orig)

df_c_orig = pd.read_csv('data/Zach_Statham_platform_c_orig_data.csv', index_col=None, header=0)
df_c_orig['Orig_year'] = pd.DatetimeIndex(pd.to_datetime(df_c_orig['orig_date'],format='%Y%m')).year
df_c_orig['Orig_month'] = pd.DatetimeIndex(pd.to_datetime(df_c_orig['orig_date'],format='%Y%m')).month
df_c_orig.drop('orig_date', inplace=True, axis=1)
li.append(df_c_orig)

In [32]:
frame = pd.concat(li, axis=0, ignore_index=True)

In [3]:
means = frame.mean()
print (means)

NameError: name 'frame' is not defined

In [5]:
store = pd.HDFStore('df_all_orig_means.h5')
store['df_all_orig_means'] = means  # save it

In [27]:
store = pd.HDFStore('df_all_orig_means.h5')
means = store['df_all_orig_means']

In [6]:
means

loan_amount            14190.012063
monthly_payment          426.565362
income                 81628.434656
inq_last_6m                0.745387
num_open_accts            11.074699
revol_bal              14571.576638
num_tot_accts             21.478623
tot_credit_bal        133845.268705
accts_opn_last_6m         29.927927
inq_last_12m               2.363403
accts_opn_last_24m         4.593272
employment_length          5.131973
int_rate                  14.490662
earliest_cr_line         179.026931
fico                     703.875516
util_rate                 46.936703
loan_over_income           0.472821
term                      43.477927
dti                        0.210065
Orig_year               2017.009785
Orig_month                 6.655713
dtype: float64

Treat all the NAN values to means of the rest of the numbers.

In [33]:
frame['num_tot_accts'] = frame['num_tot_accts'].apply(lambda x : x if not pd.isnull(x) else means['num_tot_accts'])
frame['inq_last_6m'] = frame['inq_last_6m'].apply(lambda x : x if not pd.isnull(x) else means['inq_last_6m'])
frame['num_open_accts'] = frame['num_open_accts'].apply(lambda x : x if not pd.isnull(x) else means['num_open_accts'])
frame['revol_bal'] = frame['revol_bal'].apply(lambda x : x if not pd.isnull(x) else means['revol_bal'])
frame['accts_opn_last_6m'] = frame['accts_opn_last_6m'].apply(lambda x : x if not pd.isnull(x) else means['accts_opn_last_6m'])
frame['inq_last_12m'] = frame['inq_last_12m'].apply(lambda x : x if not pd.isnull(x) else means['inq_last_12m'])
frame['accts_opn_last_24m'] = frame['accts_opn_last_24m'].apply(lambda x : x if not pd.isnull(x) else means['accts_opn_last_24m'])
frame['earliest_cr_line'] = frame['earliest_cr_line'].apply(lambda x : x if not pd.isnull(x) else means['earliest_cr_line'])
frame['util_rate'] = frame['util_rate'].apply(lambda x : x if not pd.isnull(x) else means['util_rate'])

frame['dti'] = frame['dti'].apply(lambda x : x if not pd.isnull(x) else means['dti'])
frame['loan_over_income'] = frame['loan_over_income'].apply(lambda x : x if not pd.isnull(x) else means['loan_over_income'])

frame['home_ownership'] = frame['home_ownership'].apply(lambda x : x if not pd.isnull(x) else "NoData")

Treat all the less than zero values to means of the rest of the numbers.

In [34]:
frame['tot_credit_bal'] = frame['tot_credit_bal'].apply(lambda x : x if x > 0 else means['tot_credit_bal'])
frame['inq_last_6m'] = frame['inq_last_6m'].apply(lambda x : x if x > 0 else means['inq_last_6m'])
frame['num_open_accts'] = frame['num_open_accts'].apply(lambda x : x if x > 0 else means['num_open_accts'])
frame['revol_bal'] = frame['revol_bal'].apply(lambda x : x if x > 0 else means['revol_bal'])
frame['accts_opn_last_6m'] = frame['accts_opn_last_6m'].apply(lambda x : x if x > 0 else means['accts_opn_last_6m'])
frame['inq_last_12m'] = frame['inq_last_12m'].apply(lambda x : x if x > 0 else means['inq_last_12m'])
frame['accts_opn_last_24m'] = frame['accts_opn_last_24m'].apply(lambda x : x if x > 0 else means['accts_opn_last_24m'])
frame['earliest_cr_line'] = frame['earliest_cr_line'].apply(lambda x : x if x > 0 else means['earliest_cr_line'])
frame['util_rate'] = frame['util_rate'].apply(lambda x : x if x > 0 else means['util_rate'])

In [10]:
frame.isna().sum()

unique_id             0
loan_amount           0
monthly_payment       0
grade                 0
income                0
inq_last_6m           0
num_open_accts        0
revol_bal             0
num_tot_accts         0
tot_credit_bal        0
accts_opn_last_6m     0
inq_last_12m          0
accts_opn_last_24m    0
employment_length     0
home_ownership        0
int_rate              0
earliest_cr_line      0
fico                  0
util_rate             0
loan_over_income      0
term                  0
dti                   0
platform_id           0
Orig_year             0
Orig_month            0
dtype: int64

In [35]:
frame.loc[(frame.platform_id == 'C'),'dti'] = frame['dti']-frame['monthly_payment']/(frame['income']+1)*12

frame['dti'] = frame['dti'].apply(lambda x : x if x > 0 else 0)

frame['post_dti'] =  frame['dti'] + frame['monthly_payment']/(frame['income']+1) * 12

In [36]:
frame.describe()

,loan_amount,monthly_payment,income,inq_last_6m,num_open_accts,revol_bal,num_tot_accts,tot_credit_bal,accts_opn_last_6m,inq_last_12m,accts_opn_last_24m,employment_length,int_rate,earliest_cr_line,fico,util_rate,loan_over_income,term,dti,Orig_year,Orig_month,post_dti
count,599303.000000,599303.000000,5.993030e+05,599303.000000,599303.000000,5.993030e+05,599303.000000,5.993030e+05,599303.000000,599303.000000,599303.000000,599303.000000,599303.000000,599303.000000,599303.000000,599303.000000,599303.000000,599303.000000,599303.000000,599303.000000,599303.000000,599303.000000
mean,14190.012063,426.565362,8.162843e+04,1.123925,11.075078,1.462716e+04,21.478623,1.338978e+05,38.236321,2.789724,4.726526,5.131973,14.490662,179.029069,703.875516,47.152463,0.472821,43.477927,0.184819,2017.009785,6.655713,4.091313
std,8958.324328,262.379278,1.266658e+06,0.813805,5.734526,1.925836e+04,11.703318,1.542859e+05,404.376516,1.903001,2.969449,3.798162,6.311558,84.879854,38.068613,24.345141,78.705724,11.115352,0.139354,0.754781,3.365644,189.298273
min,0.000000,30.120000,0.000000e+00,0.745387,1.000000,1.000000e+00,1.000000,1.000000e+00,1.000000,1.000000,1.000000,0.000000,2.480000,1.000000,621.000000,0.100000,0.000000,36.000000,0.000000,2016.000000,1.000000,0.000001
25%,7500.000000,234.930000,4.600000e+04,0.745387,7.000000,4.909000e+03,13.000000,2.419200e+04,1.000000,2.000000,3.000000,1.000000,9.890000,118.000000,672.000000,29.000000,0.116505,36.000000,0.111600,2016.000000,4.000000,0.174981
50%,12000.000000,359.020000,6.500000e+04,0.745387,11.000000,1.078800e+04,21.000000,8.272400e+04,29.927927,2.363403,4.593272,5.000000,13.290000,182.000000,696.000000,46.936703,0.187313,36.000000,0.172575,2017.000000,7.000000,0.247006
75%,20000.000000,562.680000,9.500000e+04,1.000000,14.000000,1.660450e+04,27.000000,1.885760e+05,29.927927,3.000000,6.000000,10.000000,18.060000,213.000000,728.000000,64.100000,0.280000,60.000000,0.242400,2018.000000,10.000000,0.330000
max,50000.000000,1714.540000,7.550006e+08,18.000000,101.000000,1.392002e+06,206.000000,5.734234e+06,9997.000000,43.000000,85.000000,10.000000,31.920000,781.000000,850.000000,173.200000,37350.000000,60.000000,9.990000,2018.000000,12.000000,18681.210065

In [38]:
store = pd.HDFStore('df_all_orig.h5')
store['df_all_orig'] = frame  # save it