In [1]:
import pandas as pd
import os
import numpy as np
pd.set_option("display.max_columns", None)

In [2]:
df = pd.read_excel(os.path.join("data", "PROPRIETARY_INFORMATION_Orig_Holdout_Data.xlsx"),engine='openpyxl',sheet_name='Sheet1')

In [3]:
li = []
df_a_orig_date = pd.read_csv('data/PROPRIETARY_INFORMATION_Orig_Holdout_Data_Plat_A_Orig_Date.csv', index_col=None, header=0)
df_a_orig_date['Orig_year'] = pd.DatetimeIndex(pd.to_datetime(df_a_orig_date['Orig_Date'].str.replace('-',''),format='%b%y')).year
df_a_orig_date['Orig_month'] = pd.DatetimeIndex(pd.to_datetime(df_a_orig_date['Orig_Date'].str.replace('-',''),format='%b%y')).month
df_a_orig_date.drop('Orig_Date', inplace=True, axis=1)
li.append(df_a_orig_date )


df_b_orig_date = pd.read_csv('data/PROPRIETARY_INFORMATION_Orig_Holdout_Data_Plat_B_Orig_Date.csv', index_col=None, header=0)
df_b_orig_date['Orig_year'] = pd.DatetimeIndex(pd.to_datetime(df_b_orig_date['orig_date'].str.replace('-',''),format='%Y%m')).year
df_b_orig_date['Orig_month'] = pd.DatetimeIndex(pd.to_datetime(df_b_orig_date['orig_date'].str.replace('-',''),format='%Y%m')).month
df_b_orig_date.drop('orig_date', inplace=True, axis=1)
li.append(df_b_orig_date)


df_c_orig_date = pd.read_csv('data/PROPRIETARY_INFORMATION_Orig_Holdout_Data_Plat_C_Orig_Date.csv', index_col=None, header=0)
df_c_orig_date['Orig_year'] = pd.DatetimeIndex(pd.to_datetime(df_c_orig_date['orig_date'],format='%Y%m')).year
df_c_orig_date['Orig_month'] = pd.DatetimeIndex(pd.to_datetime(df_c_orig_date['orig_date'],format='%Y%m')).month
df_c_orig_date.drop('orig_date', inplace=True, axis=1)
li.append(df_c_orig_date)

In [4]:
frame = pd.concat(li, axis=0, ignore_index=True)

In [5]:
frame = frame.merge(df, on='unique_id', how='left')

In [6]:
frame

,unique_id,Orig_year,Orig_month,loan_amount,monthly_payment,grade,income,inq_last_6m,num_open_accts,revol_bal,num_tot_accts,tot_credit_bal,accts_opn_last_6m,inq_last_12m,accts_opn_last_24m,employment_length,home_ownership,int_rate,earliest_cr_line,fico,util_rate,loan_over_income,term,dti
0,A-223264-1,2016,6,28000.0,779.56,E,108000.0000,0.0,10.0,14040.0,19.0,236454.0,0.0,2.0,5.0,8,MORTGAGE/OWN,22.39,194.0,682.0,63.2,0.260000,60,0.1109
1,A-753340-2,2017,6,22000.0,496.30,C,80000.0000,1.0,18.0,21846.0,42.0,122694.0,3.0,2.0,11.0,0,MORTGAGE/OWN,12.62,209.0,702.0,46.0,0.280000,60,0.1713
2,A-640827-3,2016,4,7000.0,210.81,A,45000.0000,0.0,9.0,5307.0,35.0,72196.0,1.0,5.0,6.0,10,MORTGAGE/OWN,5.32,96.0,687.0,39.0,0.160000,36,0.0533
3,A-861547-4,2016,11,15000.0,487.47,B,83000.0000,0.0,11.0,11443.0,29.0,56920.0,0.0,2.0,4.0,10,RENT,10.49,87.0,672.0,92.3,0.180000,36,0.3126
4,A-244739-5,2017,7,14400.0,467.50,B,55000.0000,0.0,7.0,4425.0,12.0,202510.0,0.0,5.0,4.0,5,MORTGAGE/OWN,10.42,203.0,667.0,15.5,0.260000,36,0.2125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139546,C-932830-40302,2018,12,21000.0,648.80,AA,72000.0000,1.0,7.0,226.0,14.0,212426.0,NaN,1.0,2.0,1,MORTGAGE/OWN,7.04,22.0,830.0,8.0,0.291667,36,0.1800
139547,C-758002-40303,2018,12,3500.0,134.83,D,52800.0000,1.0,22.0,2363.0,46.0,83792.0,3.0,3.0,15.0,4,RENT,22.64,125.0,690.0,27.0,0.066288,36,0.4400
139548,C-776941-40304,2018,12,10000.0,349.80,C,54999.9996,1.0,12.0,4651.0,21.0,9482.0,3.0,3.0,6.0,0,RENT,15.64,166.0,670.0,16.0,0.181818,36,0.2600
139549,C-694817-40305,2018,12,12000.0,335.81,D,45585.9996,7.0,19.0,733.0,31.0,72949.0,5.0,7.0,1.0,6,MORTGAGE/OWN,22.64,376.0,770.0,1.0,0.263239,60,0.3900
139550,C-371242-40306,2018,12,15000.0,524.69,C,120000.0000,NaN,13.0,15174.0,22.0,11514.0,1.0,4.0,3.0,4,RENT,15.64,268.0,690.0,57.0,0.125000,36,0.3400

Treament of Data

In [7]:
frame['platform_id'] = frame['unique_id'].astype(str).str[0]

In [8]:
store = pd.HDFStore('df_all_orig_means.h5')
means = store['df_all_orig_means']

In [9]:
frame['num_tot_accts'] = frame['num_tot_accts'].apply(lambda x : x if not pd.isnull(x) else means['num_tot_accts'])
frame['inq_last_6m'] = frame['inq_last_6m'].apply(lambda x : x if not pd.isnull(x) else means['inq_last_6m'])
frame['num_open_accts'] = frame['num_open_accts'].apply(lambda x : x if not pd.isnull(x) else means['num_open_accts'])
frame['revol_bal'] = frame['revol_bal'].apply(lambda x : x if not pd.isnull(x) else means['revol_bal'])
frame['accts_opn_last_6m'] = frame['accts_opn_last_6m'].apply(lambda x : x if not pd.isnull(x) else means['accts_opn_last_6m'])
frame['inq_last_12m'] = frame['inq_last_12m'].apply(lambda x : x if not pd.isnull(x) else means['inq_last_12m'])
frame['accts_opn_last_24m'] = frame['accts_opn_last_24m'].apply(lambda x : x if not pd.isnull(x) else means['accts_opn_last_24m'])
frame['earliest_cr_line'] = frame['earliest_cr_line'].apply(lambda x : x if not pd.isnull(x) else means['earliest_cr_line'])
frame['util_rate'] = frame['util_rate'].apply(lambda x : x if not pd.isnull(x) else means['util_rate'])

frame['dti'] = frame['dti'].apply(lambda x : x if not pd.isnull(x) else means['dti'])
frame['loan_over_income'] = frame['loan_over_income'].apply(lambda x : x if not pd.isnull(x) else means['loan_over_income'])

frame['home_ownership'] = frame['home_ownership'].apply(lambda x : x if not pd.isnull(x) else "NoData")

In [10]:
frame['tot_credit_bal'] = frame['tot_credit_bal'].apply(lambda x : x if x > 0 else means['tot_credit_bal'])
frame['inq_last_6m'] = frame['inq_last_6m'].apply(lambda x : x if x > 0 else means['inq_last_6m'])
frame['num_open_accts'] = frame['num_open_accts'].apply(lambda x : x if x > 0 else means['num_open_accts'])
frame['revol_bal'] = frame['revol_bal'].apply(lambda x : x if x > 0 else means['revol_bal'])
frame['accts_opn_last_6m'] = frame['accts_opn_last_6m'].apply(lambda x : x if x > 0 else means['accts_opn_last_6m'])
frame['inq_last_12m'] = frame['inq_last_12m'].apply(lambda x : x if x > 0 else means['inq_last_12m'])
frame['accts_opn_last_24m'] = frame['accts_opn_last_24m'].apply(lambda x : x if x > 0 else means['accts_opn_last_24m'])
frame['earliest_cr_line'] = frame['earliest_cr_line'].apply(lambda x : x if x > 0 else means['earliest_cr_line'])
frame['util_rate'] = frame['util_rate'].apply(lambda x : x if x > 0 else means['util_rate'])

In [11]:
frame.isna().sum()

unique_id             0
Orig_year             0
Orig_month            0
loan_amount           0
monthly_payment       0
grade                 0
income                0
inq_last_6m           0
num_open_accts        0
revol_bal             0
num_tot_accts         0
tot_credit_bal        0
accts_opn_last_6m     0
inq_last_12m          0
accts_opn_last_24m    0
employment_length     0
home_ownership        0
int_rate              0
earliest_cr_line      0
fico                  0
util_rate             0
loan_over_income      0
term                  0
dti                   0
platform_id           0
dtype: int64

In [12]:
frame.loc[(frame.platform_id == 'C'),'dti'] = frame['dti']-frame['monthly_payment']/(frame['income']+1)*12

frame['dti'] = frame['dti'].apply(lambda x : x if x > 0 else 0)

frame['post_dti'] =  frame['dti'] + frame['monthly_payment']/(frame['income']+1) * 12

In [14]:
store = pd.HDFStore('predict_data.h5')
store['predict_data'] = frame  # save it