In [1]:
from sklearn.metrics import accuracy_score, f1_score
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data_modeling.h5 is the dataset merged and cleaned in the previous notebook.

In [2]:
store = pd.HDFStore('data_modeling.h5')
data = store['data_modeling']

In [3]:
data.head(5)

,unique_id,loan_amount,monthly_payment,grade,income,inq_last_6m,num_open_accts,revol_bal,num_tot_accts,tot_credit_bal,...,earliest_cr_line,fico,util_rate,loan_over_income,term,dti,platform_id,mob,prepay,default
0,A-243811-1,20000.0,470.15,C,75000.0,0.0,15.0,35435.0,25.0,42760.0,...,83.0,667.0,76.0,0.27,60,0.1864,A,45,0,0
1,A-89475-2,6025.0,200.09,C,70000.0,3.0,21.0,8640.0,42.0,100312.0,...,98.0,682.0,31.2,0.09,36,0.3005,A,36,0,0
2,A-383194-3,5450.0,173.72,B,70000.0,0.0,6.0,5746.0,24.0,119491.0,...,188.0,687.0,56.9,0.08,36,0.0811,A,36,0,0
3,A-97928-4,6725.0,246.48,D,55000.0,1.0,6.0,8551.0,12.0,287319.0,...,82.0,662.0,77.7,0.12,36,0.0805,A,37,0,0
4,A-257581-5,24000.0,764.99,B,125000.0,0.0,22.0,33290.0,47.0,305776.0,...,84.0,682.0,80.2,0.19,36,0.1957,A,36,0,0

In [4]:
training_data = data.drop(['default', 'prepay','unique_id',], axis=1)
y = data['default']

In [5]:
encoder_1 = LabelEncoder()

# Fit the encoder on the data
encoder_1.fit(training_data["platform_id"])

# Transform and replace the training data
training_platform_id_encoded = encoder_1.transform(training_data["platform_id"])
training_data["platform_id"] = training_platform_id_encoded

encoder_2 = LabelEncoder()
encoder_2.fit(training_data["grade"])

training_grade_encoded = encoder_2.transform(training_data["grade"])
training_data["grade"] = training_grade_encoded

encoder_3 = LabelEncoder()
encoder_3.fit(training_data["home_ownership"])

training_home_ownership_encoded = encoder_3.transform(training_data["home_ownership"])
training_data["home_ownership"] = training_home_ownership_encoded

1. Accuracy is used when the True Positives and True negatives are more important while F1-score is used when the False Negatives and False Positives are crucial.
2. Accuracy can be used when the class distribution is similar while F1-score is a better metric when there are imbalanced classes as in the above case.

LDA Regression

In [6]:
X_train, X_val, y_train, y_val = train_test_split(training_data, y, test_size=0.3, random_state=27)
model = LDA()
model.fit(X_train, y_train)
preds = model.predict(X_val)
acc = accuracy_score(y_val, preds)
f1 = f1_score(y_val, preds)

print("Accuracy: {}".format(acc))
print("F1 Score: {}".format(f1))

Accuracy: 0.8711004777792991
F1 Score: 0.03890172478641663

Logistic Regression

In [7]:
logreg_clf = LogisticRegression(max_iter = 1000)
logreg_clf.fit(X_train, y_train)
preds = logreg_clf.predict(X_val)
acc = accuracy_score(y_val, preds)
f1 = f1_score(y_val, preds)

print("Accuracy: {}".format(acc))
print("F1 Score: {}".format(f1))

Accuracy: 0.8718931734490188
F1 Score: 0.014524086701036642

/home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)